<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="icon-container">
        <mat-icon class="icon">perm_identity</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title class="title">WHO WE ARE</mat-card-title>
      <p class="paragraph">
        Welcome to our Programmer's Den! At Pogrammer's Den, we are passionate Coders,we Believe in 
        Practical Knowledge More Than Theoretical Knowledge.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="icon-container">
        <mat-icon class="icon">account_balance</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title class="title">OUR MISSION</mat-card-title>
      <p class="paragraph2">
        To provide In-Depth Knowledge of Technologies with the Help of Programming, to an
        Individual and Clear their Basic Concepts and Improve their Technical Skills.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    
    <mat-card-header>
      <div mat-card-avatar class="icon-container">
        <mat-icon class="icon">insert_chart</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title class="title">OUR VISION</mat-card-title>
      <p class="paragraph">
        To Make People Realize That Practical Knowledge > Theoretical Knowledge,
        If you have Practical Knowledge and your Concepts are clear then you Can Learn
        any Technology Efficiently
      </p>
    </mat-card-content>
  </mat-card>
</div>