<div class="card-container">
  <!-- WHO WE ARE Card -->
  <mat-card appearance="outlined" class="card">
    <div class="icon-container">
      <mat-icon class="material-icons icon">perm_identity</mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title class="title">WHO WE ARE</mat-card-title>
      <p class="paragraph">
        Welcome to Programmer's Den —  A community of passionate coders who believe that hands-on experience and practical knowledge are the true keys to mastering technology.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- OUR MISSION Card -->
  <mat-card appearance="outlined" class="card">
    <div class="icon-container">
      <mat-icon class="material-symbols-outlined material-icons icon">moving</mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title class="title">OUR MISSION</mat-card-title>
      <p class="paragraph">
        To provide in-depth knowledge of technologies, reinforcing foundational concepts and enhancing practical technical skills.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- OUR VISION Card -->
  <mat-card appearance="outlined" class="card">
    <div class="icon-container">
      <mat-icon class="material-symbols-outlined material-icons icon">mystery</mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title class="title">OUR VISION</mat-card-title>
      <p class="paragraph">
        To inspire individuals to believe that with clear concepts and hands-on practice, they can confidently master any technology and unlock their full potential.
      </p>
    </mat-card-content>
  </mat-card>
</div>
