<div>
  <iframe
      src="https://maps.google.com/maps?q=Rhythm%20Residency%20Talegaon%20Dabhade%20Pune%20Maharashtra&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" allowfullscreen="" style="border: 0; width: 100%; height: 300px;">
  </iframe>
</div>
<div>
    <mat-toolbar style="background-color: rgb(232, 231, 231);">
        <div class="container">
            <a href="/home" style="color: #007bff;" class="no-underline">
                Home
            </a>
            <a style="font-size: small;color: grey;">
                / Contact Us
            </a>
        </div>
    </mat-toolbar>
</div>
<div style="margin-top: 10%;" class="container">
    <div class="card-container">
        <mat-card class="card card1">
            <mat-card-header>
              <mat-card-title>
                <h1 style="font-family: monospace;font-size:xx-large;">
                    Quick Contact
                </h1>
              </mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
              <div class="contact-item">
                <mat-icon class="icon"><a href="/contact" style="text-decoration: none;">location_on</a></mat-icon>
                <span class="label">
                  ADDRESS : <br>
                  Rhythm Residency, Talegaon Dabhade,Pune
                </span>
              </div>
              <br>
              <div class="contact-item">
                <mat-icon class="icon">
                    <a href="#" style="text-decoration: none;">phone</a>
                </mat-icon>
                <span class="label">
                  PHONE : <br>
                  +91 7058102806
                </span>
              </div>
              <br>
              <div class="contact-item">
                <mat-icon class="icon">
                    <a href="#" style="text-decoration: none;">
                        email
                    </a> 
                </mat-icon>
                <span class="label">
                  EMAIL :<br>
                  pakshal1256@gmail.com
                </span>
              </div>
              <mat-divider></mat-divider>
              <br>
              <div class="social-icons">
                <a href="https://www.instagram.com/yourusername" class="icon-link">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com/yourusername" class="icon-link">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/yourusername" class="icon-link">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.whatsapp.com/yourusername" class="icon-link">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.youtube.com" class="icon-link">
                    <i class="fab fa-youtube"></i>
                </a>
              </div>
            </mat-card-content>
        </mat-card>

        <mat-card style="background-color: white;" class="card card2">
          <mat-card-header>
              <mat-card-title>
                <h1 style="font-family: monospace;font-size:xx-large;">
                  Send Message
                </h1>
              </mat-card-title>
          </mat-card-header>
          
          <mat-card-content>
            <div class="example-container">
              <form [formGroup]="contactForm">
                <mat-form-field style="margin-left: 5px;margin-right: 15px;;" appearance="fill">
                  <mat-label>Your Name</mat-label>
                  <input matInput formControlName="name" type="text">

                  <mat-error *ngIf="contactForm.get('name')!.errors?.['custom']">
                    Please enter a valid Name
                  </mat-error>
      
                  <mat-error *ngIf="contactForm.get('name')!.errors?.['required']">
                      Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Your Email</mat-label>
                  <input matInput formControlName="email" placeholder="abc@example.com">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="contactForm.get('email')!.errors?.['custom'] && !contactForm.get('email')!.errors?.['required']">
                    Please enter a valid Email
                  </mat-error>
      
                  <mat-error *ngIf="contactForm.get('email')!.errors?.['required']">
                      email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px;" appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phone" type="tel">
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="contactForm.get('phone')!.errors?.['custom'] && !contactForm.get('phone')!.errors?.['required']">
                    Please enter a valid Phone Number
                  </mat-error>
      
                  <mat-error *ngIf="contactForm.get('phone')!.errors?.['required']">
                      Phone number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Subject</mat-label>
                  <input matInput formControlName="subject">
                  <mat-error *ngIf="contactForm.get('subject')!.errors?.['required']">
                    Subject is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <div>
                  <mat-form-field class="message" style="width: 98%;margin-left: 5px;" appearance="fill">
                    <mat-label>Your Message...</mat-label>
                    <textarea matInput formControlName="message" style="height: 45px;"></textarea>
                    <mat-error *ngIf="contactForm.get('message')!.errors?.['required']">
                      Message is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                
                <button style="width : 98%;margin-left: 5px;height: 50px;" (click)="sendMessage()" mat-raised-button color="primary" [disabled]="!contactForm.valid">
                  Submit
                </button>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
    </div>      
    <br><br><br><br><br><br>
</div>    