<div>
  <mat-toolbar color="primary">
    <span class="spacer2"></span>
    <span>PROGRAMMER'S DEN</span>
    <span class="spacer"></span>
    <button *ngIf="isCollapsed" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <ng-container *ngIf="!isCollapsed">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/contact">Contact</button>
      <button mat-button style="background-color: white;color: black;" routerLink="/register">Register</button>
    </ng-container>
    <span class="spacer2"></span>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/register">Register</button>
    <button mat-menu-item routerLink="/contact">Contact</button>
  </mat-menu>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>