<div class="confimation-container">
  <mat-card appearance="outlined" class="confirmation-card">
    <mat-card-title class="card-title">
      Welcome {{ FirstName }} {{ LastName }} to Programmer's Den Family
    </mat-card-title>

    <mat-card-content>
      <div class="message">
        <p>
          You have successfully registered for the batch:
          <strong>"{{ Batch }}"</strong>
        </p>
        <p> Your Registration ID is: <strong>RID {{ RID }}</strong></p>
        <p> Check your registered mail ID: <strong>{{ Email }}</strong> for further details.</p>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/home"> Home</button>
      <button mat-raised-button color="accent" routerLink="/register">Back</button>
    </mat-card-actions>
  </mat-card>
</div>