<div>
  <mat-toolbar color="primary" style="height: 80px;    ;position: fixed;top: 0;left: 0;width: 100%;z-index: 1000;">
    <span class="spacer2"></span>
    <img src="assets/logo.png" style="height: 80px;">
    <span style="font-family: monospace;font-size: larger;">PROGRAMMER'S DEN</span>
    <span class="spacer"></span>
    <button *ngIf="isCollapsed" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <ng-container *ngIf="!isCollapsed">
      <button mat-button routerLink="/home">HOME</button>
      <button mat-button routerLink="/contact">CONTACT US</button>
      <button mat-button routerLink="/register" style="background-color: white;color: black;">REGISTER</button>
    </ng-container>
    <span class="spacer2"></span>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">HOME</button>
    <button mat-menu-item routerLink="/contact">CONTACT US</button>
    <button mat-menu-item routerLink="/register">REGISTER</button>
  </mat-menu>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer-toolbar">
  <!-- Contact Info Card -->
  <mat-card class="footer-card">
    <mat-card-title>Contact Info</mat-card-title>
    <mat-card-content>
      <div class="contact-item">
        <mat-icon class="icon">location_on</mat-icon>
        <span class="label">
          ADDRESS : <br>
          Rhythm Residency, Talegaon Dabhade, Pune
        </span>
      </div>
      <br>
      <div class="contact-item">
        <mat-icon class="icon">
          <a href="tel:7058102806" style="text-decoration: none;color:white">phone</a>
        </mat-icon>
        <span class="label">
          PHONE : <br>
          +91 7058102806
        </span>
      </div>
      <br>
      <div class="contact-item">
        <mat-icon class="icon">
            email
        </mat-icon>
        <span class="label">
          EMAIL :<br>
          pakshal1256@gmail.com
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Social Media Card -->
  <mat-card class="footer-card">
    <mat-card-title>Social Media</mat-card-title>
    <mat-card-content>
      <div class="social-icons">
        <a href="#" class="icon-link">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="icon-link">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="icon-link">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://wa.me/7058102806" class="icon-link">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="#" class="icon-link">
            <i class="fab fa-youtube"></i>
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- About Us Card -->
  <mat-card class="footer-card" style="margin-top: 1%;">
    <mat-card-title>Location</mat-card-title>
    <mat-card-content>
      <iframe
        src="https://maps.google.com/maps?q=Rhythm%20Residency%20Talegaon%20Dabhade%20Pune%20Maharashtra&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" allowfullscreen="" style="border: 0; width: 100%; height: 300px;">
      </iframe>
    </mat-card-content>
  </mat-card>
</mat-toolbar>
<mat-toolbar style="background-color: rgb(48, 48, 48);color: white;justify-content: center;">
  <p style="font-size: medium;">
    <mat-icon style="font-size: medium;">copyright</mat-icon>
    Copyright 2024 Programmer's Den
  </p>
</mat-toolbar>

