.menu-spacer {
  flex: 1 1 auto;
}

.carousel-caption {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  padding: 10px;
  color: white;
  font-size: xx-large;
}

.carousel-caption h1 {
  font-size: 30px; /* Default font size */
  position: absolute;
  width: 50%;
  right: 50px;
  top: 200px;
  font-family: monospace;
}

.carousel-item img {
  max-height: 700px; /* Adjust the value as needed */
}

.text h1{
  text-align: center;
  font-family: monospace;
  margin-top: 5%;
  margin-bottom: 2%;
  color: blue;
  font-size: 40px;
}

.text2 h1{
  text-align: center;
  font-family: monospace;
  margin-bottom: 2%;
  color: blue;
  font-size: 40px;
}

.divider-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.custom-divider {
  height: 5px; /* Adjust as needed for your desired size */
  width: 3%; /* or specify a specific width */
  background-color: blue; /* Change to your desired color */
}

.divider-container2 {
  display: flex;
  justify-content: center;
}
.custom-divider2 {
  height: 5px; /* Adjust as needed for your desired size */
  width: 3%; /* or specify a specific width */
  background-color: blue; /* Change to your desired color */
}

.cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example-card {
  max-width: 400px;
  margin: 10px;
  flex : 0 0 30%;
  border: none;
  box-shadow: none;
}

.example-card img {
  max-height: 400px;
}


@media screen and (max-width: 600px) {

  .carousel {
    width: 100%;
    height: auto;
  }

  .carousel-caption {
    right: 1px;
    top : 1px;
  }
  .carousel-caption h1 {
    font-size: large; /* Default font size */
    position: absolute;
    width: 100%;
    right: 0.1px;
    top: 55px;
    font-family: monospace;
  }

  .text h1 {
    font-size: xx-large;
  }

  .text2 h1{
    text-align: center;
    font-family: monospace;
    margin-bottom: 2%;
    color: blue;
    font-size: xx-large;
  }
  .custom-divider {
    height: 5px; /* Adjust as needed for your desired size */
    width: 8%; /* or specify a specific width */ /* Change to your desired color */
  }

  .custom-divider2 {
    height: 5px; /* Adjust as needed for your desired size */
    width: 8%; /* or specify a specific width */
    background-color: blue; /* Change to your desired color */
  }
  .cardDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .example-card {
    width: 80%;
    margin: 10px;
  }

}






