<div class="container contact-section">
  @for (i of items; track i) {
    <div class="card-container">
      @if (i.title === Title) {
        <mat-card appearance="outlined" class="card card1">
          <mat-card-content>
            <img mat-image [src]="i.image" alt="image">
          </mat-card-content>
        </mat-card>
      }
      @if (i.title === Title) {
        <mat-card appearance="outlined" class="card card2">
          <mat-card-header>
            <mat-card-title>
              <h1 class="title">
                {{i.title}}
              </h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="content">
            <mat-divider></mat-divider>
            <h2>
              Start Date:
              <h3 class="inline-detail">{{i.startDate}}</h3>
            </h2>
            <mat-divider></mat-divider>
            <h2>
              Duration:
              <h3 class="inline-detail">{{i.duration}}</h3>
            </h2>
            <mat-divider></mat-divider>
            <h2>
              Timings:
              <h3 class="inline-detail">{{i.Timings}}</h3>
            </h2>
            <mat-divider></mat-divider>
            <h2>
              Fees:
              <h3 class="inline-detail">{{i.fees | currency:'INR'}}</h3>
            </h2>
            <button mat-raised-button class="btn-download" (click)="DownloadPDF(i.document)" color="accent">
              Download Contents
            </button>
            <button mat-raised-button class="btn-register" [hidden]="i.status !== 'Active'" routerLink="/register" color="primary">
              Register
            </button>
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
</div>
