<div>
    <mat-toolbar style="background-color: darkblue;">
        <span class="spacer2"></span>
        <span style="color: white;">Register</span>
    </mat-toolbar>
</div>

<div class="container" style="align-items: center;">
    <mat-card class="card">
        <div class="example-container" style="margin-top: 5%;margin-bottom: 5%;width: 100%;">
            <form [formGroup]="userForm">
                <mat-form-field style="margin-left: 8px;"  appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" type="text">
                
                    <mat-error *ngIf="userForm.get('firstName')!.errors?.['custom']">
                        Please enter a valid First Name
                    </mat-error>
        
                    <mat-error *ngIf="userForm.get('firstName')!.errors?.['required']">
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field  appearance="fill">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName" type="text">

                    <mat-error *ngIf="userForm.get('middleName')!.errors?.['custom']">
                        Please enter a valid Middle Name
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field  appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" type="text">

                    <mat-error *ngIf="userForm.get('lastName')!.errors?.['custom']">
                        Please enter a valid Last Name
                    </mat-error>
        
                    <mat-error *ngIf="userForm.get('lastName')!.errors?.['required']">
                        Last Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="margin-left: 8px;" appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone" type="tel" placeholder="Phone Number(10 Digits Only)">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="userForm.get('phone')!.errors?.['custom'] && !userForm.get('phone')!.errors?.['required']">
                        Please enter a valid Phone Number
                    </mat-error>

                    <mat-error *ngIf="userForm.get('phone')!.errors?.['required']">
                        Phone Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="e.g. : abc@gmail/hotmail/outlook.com">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="userForm.get('email')!.errors?.['custom'] && !userForm.get('email')!.errors?.['required']">
                        Please enter a valid <strong>Email ID</strong>
                    </mat-error>
        
                    <mat-error *ngIf="userForm.get('email')!.errors?.['required']">
                        Email ID is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>Select Batch</mat-label>
                    <mat-select formControlName="batch">
                        <mat-option *ngFor="let batch of Batches" [value]="batch.bid">
                            <p *ngIf="batch.status !== 'Inactive'">{{batch.batch}}</p>
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="userForm.get('batch')!.errors?.['required']">
                        Please Select <strong>Batch</strong>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field  appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" placeholder="Ex. Maharashtra" type="text">
                    <mat-error *ngIf="userForm.get('state')!.errors?.['custom']">
                        Please enter a valid state Name
                    </mat-error>

                    <mat-error *ngIf="userForm.get('state')!.errors?.['required']">
                        Name of State is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" placeholder="Ex. Pune" type="text">
                    <mat-error *ngIf="userForm.get('city')!.errors?.['custom']">
                        Please enter a valid City Name
                    </mat-error>

                    <mat-error *ngIf="userForm.get('city')!.errors?.['required']">
                        Name of City is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>Pin Code</mat-label>
                    <input matInput formControlName="pinCode" placeholder="Ex. 410506" type="text">
                    <mat-error *ngIf="userForm.get('pinCode')!.errors?.['custom']">
                        Please enter a valid Pin Code 
                    </mat-error>

                    <mat-error *ngIf="userForm.get('pinCode')!.errors?.['required']">
                        Pin Code is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" type="text">
                    
                    <mat-error *ngIf="userForm.get('address')!.errors?.['required']">
                        Address is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Current Address</mat-label>
                    <input matInput formControlName="currentAddress" type="text">
                    
                    <mat-error *ngIf="userForm.get('currentAddress')!.errors?.['required']">
                        Current Address is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>Payment Option</mat-label>
                    <mat-select formControlName="payment" [disabled]="true">
                        <mat-option *ngFor="let option of paymentOptions" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="userForm.get('payment')!.errors?.['required']">
                        Please Select Payment <strong>Option</strong>
                    </mat-error>
                </mat-form-field>
                
                <br><br><br>
                <button style="width : 30%;" mat-raised-button color="primary" (click)="Save()" [disabled]="!userForm.valid">
                    Submit
                </button>
                <mat-error>
                    Note : Your Registration is Not Complete Until You Pay The <strong>Amount</strong>
                </mat-error>
            </form>          
        </div>
    </mat-card>
</div>   
<br><br>
